.register {
    max-width: 800px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: var(--backgroundchart);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 15px;
    margin: 10px auto;
}

.start {
    line-height: 2;
}

.register h4 {
    margin-bottom: 0.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.social-icons i {
    font-size: 1.6rem;
    color: #6c757d;
    cursor: pointer;
    transition: color 0.2s;
}

.social-icons i:hover {
    color: #0d6efd;
}